{% load widget_tweaks %}
{% load partials %}
{% load humanize %}
{% load custom_filter %}
<!-- grid container div 정의 -->
<div class="flex flex-col  md:grid md:grid-cols-4 md:gap-4"
id="charts-container">

    <!-- 3/4 열은 거래내역 테이블 -->
    <div class="col-span-3">

        <span id="spinner" class="mx-auto block loading loading-spinner loading-lg htmx-indicator"></span>
        {{income_expense_bar_chart|safe}}
        <div class="grid grid-cols-2">
            {{income_pie_chart|safe}}
            {{expense_pie_chart|safe}}
        </div>

    </div>
    

    <!-- 1/4 열은 필터 폼 -->
    <div class="col-span-1">
        <form 
            id="filter-form"
            hx-get="{% url 'transaction-charts' %}"
            hx-target="#charts-container"
            hx-swap="outerHTML"
            hx-indicator="#spinner"
            class="items-end gap-2">
            <div class="mb-2 form-control">
                {{ filter.form.transaction_type|add_label_class:"label text-white" }}
                {% render_field filter.form.transaction_type class="select bg-gray-50 text-gray-900" %}
            </div>
            <div class="mb-2 form-control">
                {{ filter.form.start_date|add_label_class:"label text-white" }}
                {% render_field filter.form.start_date class="input bg-gray-50 text-gray-900" %}
            </div>
            <div class="mb-2 form-control">
                {{ filter.form.end_date|add_label_class:"label text-white" }}
                {% render_field filter.form.end_date class="input bg-gray-50 text-gray-900" %}
            </div>
            <div class="mb-4 form-control">
                {% render_field filter.form.category class="text-green-500 border-gray-300 rounded focus:ring-green-500" %}
            </div>
            <button class="btn btn-success">
                filter
            </button>
        </form>
    </div>
</div>
